[Unit]
Description=Mr. Slinky - Stepper Motor Controller (via pipenv)
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/mr-slinky
ExecStart=/usr/bin/pipenv run python motor.py
Restart=always
Environment=PYTHONUNBUFFERED=1

# Performance tuning
Nice=-20
CPUWeight=1000

[Install]
WantedBy=multi-user.target
